extends default 

block content
    if cities.length < 1
        h1(style="text-align:center;") Ù‡ÛŒÚ† Ø´Ù‡Ø±ÛŒ Ù¾ÛŒØ¯Ø§ Ù†Ø´Ø¯.
    else
        .contianer(style="display:flex;height:100vh;margin-top: 20px;")
            each city in cities
                div(style="border: 1px solid black; height: fit-content; width: fit-content;text-align:center;margin: 0 10px; padding:0 10px")
                    h1 
                        a(href=`/city/${city.name}`)=city.name 
                    h2(style="direction: ltr;")  #{city.temp}Â°
                    h3=city.description
                    if user && !savedCities.includes(city._id)
                        a(style="background:none;border:0;border-top: 1px solid black;cursor:pointer;display: block; text-decoration: none", href=`/save/${city.name}`)
                            span ðŸ¤ 
                    else if user && savedCities.includes(city._id)
                        a(style="background:none;border:0;border-top: 1px solid black;cursor:pointer;display: block; text-decoration: none", href=`/unsave/${city.name}`)
                            span ðŸ–¤


